<section role="region" class="vbox fit">
	<header>
		<h1>Futebolzinho</h1>
	</header>
<body><div id="imagem">
	<section id="inputArea">
		<form>
			<p>É hora de convocar os jogadores!</p>
			<input type="text" placeholder="Jogador" ng-model="playerName">
			<button ng-click="convene()">Convocar</button>
		</form>
	</section>
	
	<section class="gaia-list fit scroll sticky">
		<article>
			<header>Convocados ({{countConvene}})</header>
			<ul>
				<li ng-repeat="player in listPlayers track by $index">
					<aside class="pack-end">
						<img alt="image" src="images/{{player.position}}.png">
					</aside>
					<a href="#/edit/{{player.name}}">
						<p>{{player.name}}</p>
						<p id="level">Level {{player.level}} <span data-icon="signal-{{player.level}}"></span></p>
					</a>
					<span data-icon="delete" id="btDelete" ng-click="remove(player.name)"></span>
				</li>
			</ul>
		</article>
	</section>
	
	<footer class="gaia-footer">
		<button class="recommend" ng-click="sortPlayers()">Sortear</button>
		<button>Cancelar</button>
	</footer>
		</body>
	</div>
</section>